{% set pageTitle = ([title, meta.title] | join(" | ")) if title and title !=
meta.title else meta.title %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>

		<title>{{ pageTitle }}</title>
		<meta
			name="title"
			content="{{ pageTitle }}"
		/>
		<meta
			property="og:title"
			content="{{ pageTitle }}"
		/>

		<meta
			name="theme-color"
			content="{{ meta.themeColorLight }}"
			media="(prefers-color-scheme: light)"
		/>
		<meta
			name="theme-color"
			content="{{ meta.themeColorDark }}"
			media="(prefers-color-scheme: dark)"
		/>
		<meta
			name="color-scheme"
			content="light dark"
		/>

		<meta
			name="description"
			content="{{ meta.description }}"
		/>
		<meta
			property="og:description"
			content="{{ meta.description }}"
		/>

		<meta
			property="og:type"
			content="website"
		/>
		<meta
			property="og:url"
			content="{{ meta.url }}"
		/>
		<link
			rel="canonical"
			href="{{ meta.url }}"
		/>

		<link
			rel="stylesheet"
			href="/css/temporary.css"
		/>
	</head>

	<body
		data-theme="system"
		data-js-available="false"
	>
		<a href="#main">Skip to main content</a>

		<header>
			<a href="/">Magrathea</a>

			<p>{{ meta.description }}</p>

			<nav>
				<ul role="list">
					{% for entry in search.pages("navigation.order!=undefined", "navigation.order") | data %}
					<li>
						<a href="{{ entry.url }}"{% if entry.url == url %} aria-current="page"{% endif %}>
							{{ entry.navigation.title or entry.title or "ERROR" }}
						</a>
					</li>
					{% endfor %}
				</ul>
			</nav>
		</header>

		<main id="main">{{ content | safe }}</main>

		<footer>
			<p>
				&copy;&nbsp;Magrathea. Available under an
				<a
					href="https://github.com/magratheaguide/magratheaguide.github.io/blob/main/LICENSE"
					>MIT License</a
				>.
			</p>

			<h2>More Magrathea</h2>

			<ul role="list">
				<li>
					<a href="/accessibility-statement"
						>Accessibility statement</a
					>
				</li>
				<li>
					<a href="{{ meta.externalUrls.github }}"
						>Magrathea on GitHub</a
					>
				</li>
				<li>
					<a href="{{ meta.externalUrls.discuss }}"
						>Discussions and ideas</a
					>
				</li>
				<li>
					<a href="{{ meta.externalUrls.bugReport }}">Report a bug</a>
				</li>
			</ul>

			<h2>Buy me a coffee</h2>

			<ul>
				{% for entry in about.thewildmage.buyMeACoffee %}
				<li>
					<a href="{{ entry.url }}">{{ entry.name }}</a>
				</li>
				{% endfor %}
			</ul>
		</footer>
	</body>
</html>
