:root {
    --font-size-xs: 0.75rem;
    --font-size-s: 0.875rem;
    --font-size-m: 1rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 3rem;

    --gap-xs: 4px;
    --gap-s: 8px;
    --gap-m: 16px;
    --gap-l: 32px;
    --gap-xl: 64px;

    --max-post-width: 55ch;
    --max-post-width-styled: 75ch;
}

#claim-generator-result { overflow-x: auto; }

.form-claim-generator {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: var(--max-post-width);
}

.form-claim-generator fieldset {
    border: none;
    display: grid;
    grid-gap: var(--gap-m);
    grid-template-columns: auto 2fr 3fr;
    margin: var(--gap-m) auto;
    padding: 0;
}
.form-claim-generator fieldset > label { grid-column: 2; }
.form-claim-generator fieldset > .label-additional { grid-column: 3 / -1; }
.form-claim-generator fieldset > legend { grid-column: 1 / -1; }
.form-claim-generator fieldset > :not(label):not(legend) { grid-column: 3; align-self: start; }

.form-claim-generator .button-claim-generator {
    display: block;
    font-size: var(--font-size-m);
    margin: var(--gap-l) auto;
}

.form-claim-generator .label-additional { font-size: var(--font-size-s); }

.form-claim-generator .label-additional ul { margin-top: 0; padding-left: var(--gap-m); }

.generator-container {
    margin-right: auto;
    margin-left: auto;
    max-width: var(--max-post-width-styled);
}
