{{/* first get the embed pieces by calling embedExtract*/}}
{{ if not .ExecData }}
{{ $id := (index .CmdArgs 0) }}
{{ $answer := (joinStr " " (slice .CmdArgs 1)) }}
{{ execCC 4 nil 0 (sdict "id" $id "caller" 2 "args" $answer ) }}
{{ end }}

{{/* embedExtract calls back with the extracted pieces */}}
{{ if .ExecData }}
{{ $id := .ExecData.id }}
{{ $extract := .ExecData.extract }}
{{ $answer := .ExecData.args }}
{{ $color := 16776960 }}

{{/* pull info for answered by field */}}
{{ $answeredByName := "Answered By" }}
{{ $oldFields := $extract.fields }}
{{ $newFields := (cslice (sdict "name" $answeredByName "value" .User.Mention "inline" true)) }}

{{ range $index, $element := $oldFields }}
{{ if (ne (toString $element.Name) $answeredByName) }}
{{ $newFields = $newFields.Append (sdict "name" $element.Name "value" $element.Value "inline" $element.Inline) }}
{{ end }}
{{ end }}

{{/* add answer */}}
{{ editMessage nil $id (cembed "title" $extract.title "description" $answer "color" $color "footer" $extract.footer "fields" $newFields) }}
{{ deleteAllMessageReactions nil $id }}
{{ end }}
