{{ $thisCmd := 3 }}
{{ $extractCmd := 4 }}

{{ $queueChannel := 672866868951908392 }}

{{/* first get the embed pieces by calling embedExtract*/}}
{{ if not .ExecData }}
    {{/* check if channel is specified, if not default */}}
    {{ $channel := $queueChannel }}
    {{ $id := (index .CmdArgs 0) }}
    {{ $askList := (joinStr " " (slice .CmdArgs 1)) }}

    {{ if reFind "\\<#\\d+\\>" (index .CmdArgs 0) }}
        {{ $channel = (toInt (reFind "\\d+" (index .CmdArgs 0))) }}
        {{ $id = (index .CmdArgs 1) }}
        {{ $askList = (joinStr " " (slice .CmdArgs 2)) }}
    {{ end }}

    {{ execCC $extractCmd nil 0 (sdict "channel" $channel "id" $id "caller" $thisCmd "args" $askList ) }}
{{ end }}

{{/* embedExtract calls back with the extracted pieces */}}
{{ if .ExecData }}
    {{ $channel := .ExecData.channel }}
    {{ $id := .ExecData.id }}
    {{ $extract := .ExecData.extract }}
    {{ $askList := .ExecData.args }}

    {{ $replaceName := "Asked By" }}
    {{ $oldFields := $extract.fields }}
    {{ $newFields := (cslice (sdict "name" $replaceName "value" $askList "inline" true)) }}

    {{ range $index, $element := $oldFields }}
        {{ if (ne (toString $element.Name) $replaceName) }}
            {{ $newFields = $newFields.Append (sdict "name" $element.Name "value" $element.Value "inline" $element.Inline) }}
        {{ end }}
    {{ end }}

    {{ editMessage $channel $id (cembed "title" $extract.title "description" $extract.description "color" $extract.color "footer" $extract.footer "author" $extract.author "fields" $newFields) }}
    {{ sendMessage nil (joinStr "" "Edited asked by! https://discordapp.com/channels/" .Guild.ID "/" $channel "/" $id)}}
{{ end }}
