{{ $thisCmd := 9 }}
{{ $extractCmd := 4 }}

{{ $queueChannel := 672866868951908392 }}

{{/* first get the embed pieces by calling embedExtract*/}}
{{ if not .ExecData }}
    {{ if eq (len .CmdArgs) 0 }}
        {{ sendMessage nil "Syntax is `<channel mention?> <message ID> <status>`\nChannel mention optional, defaults to queue channel\nStatus can be one of `todo`, `progress`, `ready`, `done`" }}
    {{ else }}
        {{ $channel := $queueChannel }}
        {{ $id := (index .CmdArgs 0) }}
        {{ $status := (index .CmdArgs 1) }}

        {{ if reFind "\\<#\\d+\\>" (index .CmdArgs 0) }}
            {{ $channel = (toInt (reFind "\\d+" (index .CmdArgs 0))) }}
            {{ $id = (index .CmdArgs 1) }}
            {{ $status = (index .CmdArgs 2) }}
        {{ end }}

        {{ execCC $extractCmd nil 0 (sdict "channel" $channel "id" $id "caller" $thisCmd "args" $status ) }}
    {{ end }}

{{/* embedExtract calls back with the extracted pieces */}}
{{ else if .ExecData }}
    {{ $channel := .ExecData.channel }}
    {{ $id := .ExecData.id }}
    {{ $extract := .ExecData.extract }}
    {{ $status := .ExecData.args }}
    {{ $color := "" }}

    {{/* choose color based on status */}}
    {{ if eq $status "done" }}
        {{/* do nothing */}}
    {{ else if eq $status "ready" }}
        {{ $color = 1879160 }}
    {{ else if eq $status "progress" }}
        {{ $color = 16776960 }}
    {{ else if eq $status "todo" }}
        {{ $color = 16711680 }}
    {{ end }}

    {{/* update message */}}
    {{ if $color }}
        {{ editMessage $channel $id (cembed "title" $extract.title "description" $extract.description "color" $color "footer" $extract.footer "fields" $extract.fields) }}
    {{ else }}
        {{ editMessage $channel $id (cembed "title" $extract.title "description" $extract.description "footer" $extract.footer "fields" $extract.fields) }}
    {{ end }}

    {{ sendMessage nil (joinStr "" "Updated! https://discordapp.com/channels/" .Guild.ID "/" $channel "/" $id)}}
{{ end }}
