{{ $queueChannel := 672866868951908392 }}

{{ $channel := $queueChannel }}
{{ $question := "" }}
{{ $askedBy := "" }}

{{ if not .ExecData }}
    {{ $question = (joinStr " " .CmdArgs) }}

    {{/* check if channel is specified, if not leave default */}}
    {{ if reFind "\\<#\\d+\\>" (index .CmdArgs 0) }}
        {{ $channel = (toInt (reFind "\\d+" (index .CmdArgs 0))) }}
        {{ $question = (joinStr " " (slice .CmdArgs 1)) }}
    {{ end }}

    {{ $askedBy = .User.Mention }}
{{ else }}
    {{ $question = .ExecData.question }}

    {{/* check if channel is specified, if leave default */}}
    {{ if .ExecData.channel }}
        {{ $channel = .ExecData.channel }}
    {{ end }}

    {{ $askedBy = .ExecData.askedBy }}
{{ end }}

{{/* gather pieces */}}
{{ $color := 16711680 }}
{{ $footerText := "Message ID:" }}
{{ $embed := cembed "title" $question "color" $color "fields" (cslice (sdict "name" "Asked By" "value" $askedBy "inline" true)) }}

{{/* create question message */}}
{{ $id := sendMessageRetID $channel $embed }}

{{/* go back and add message ID, now that the message has been created and that's available */}}
{{ $embed = cembed "title" $question "color" $color "footer" (sdict "text" (joinStr " " $footerText $id)) "fields" (cslice (sdict "name" "Asked By" "value" $askedBy "inline" true)) }}
{{ editMessage $channel $id $embed }}

{{ if and (not .ExecData) (ne $channel .Channel.ID) }}
{{ sendMessage nil (joinStr "" "Question added! https://discordapp.com/channels/" .Guild.ID "/" $channel "/" $id)}}
{{ end }}
