{{/* gather pieces */}}
{{ $question := (joinStr " " .CmdArgs) }}
{{ $color := 16711680 }}
{{ $footerText := "Message ID:" }}
{{ $embed := cembed "title" $question "color" $color "fields" (cslice (sdict "name" "Asked By" "value" .User.Mention "inline" true)) }}

{{/* create question message */}}
{{ $id := sendMessageRetID nil $embed }}

{{/* go back and add message ID, now that the message has been created and that's available */}}
{{ $embed = cembed "title" $question "color" $color "footer" (sdict "text" (joinStr " " $footerText $id)) "fields" (cslice (sdict "name" "Asked By" "value" .User.Mention "inline" true)) }}
{{ editMessage nil $id $embed }}
