{{ $channel := .ExecData.channel }}
{{ $id := .ExecData.id }}
{{ $caller := .ExecData.caller }}
{{ $callerArgs := .ExecData.args }}

{{ $msg := getMessage $channel $id }}

{{ if not $msg }}
    {{ sendMessage nil "ERROR: Couldn't find message" }}

{{ else if not $msg.Embeds }}
    {{ sendMessage nil "ERROR: Message doesn't contain an embedded card" }}

{{ else }}
    {{ $msgEmbed := (index $msg.Embeds 0) }}

    {{/* extract all embed pieces */}}
    {{ $extract := sdict }}

    {{ if $msgEmbed.Title }}
    {{ $title := $msgEmbed.Title }}
    {{ $extract.Set "title" $title }}
    {{ end }}

    {{ if $msgEmbed.Description }}
    {{ $description := $msgEmbed.Description }}
    {{ $extract.Set "description" $description }}
    {{ end }}

    {{ if $msgEmbed.Timestamp }}
    {{ $timestamp := $msgEmbed.Timestamp }}
    {{ $extract.Set "timestamp" $timestamp }}
    {{ end }}

    {{ if $msgEmbed.Color }}
    {{ $color := $msgEmbed.Color }}
    {{ $extract.Set "color" $color }}
    {{ end }}

    {{ if $msgEmbed.Footer }}
    {{ $footer := $msgEmbed.Footer }}
    {{ $extract.Set "footer" $footer }}
    {{ end }}

    {{ if $msgEmbed.Image }}
    {{ $image := $msgEmbed.Image }}
    {{ $extract.Set "image" $image }}
    {{ end }}

    {{ if $msgEmbed.Thumbnail }}
    {{ $thumbnail := $msgEmbed.Thumbnail }}
    {{ $extract.Set "thumbnail" $thumbnail }}
    {{ end }}

    {{ if $msgEmbed.Author }}
    {{ $author := $msgEmbed.Author }}
    {{ $extract.Set "author" $author }}
    {{ end }}

    {{ if $msgEmbed.Fields }}
    {{ $fields := $msgEmbed.Fields }}
    {{ $extract.Set "fields" $fields }}
    {{ end }}

    {{/* send the pieces back to the calling command */}}
    {{ execCC $caller nil 0 (sdict "channel" $channel "id" $id "extract" $extract "args" $callerArgs) }}
{{ end }}
