---
title: Magrathea
---

<h1>{{ title }}</h1>

<aside>
	<p>
		I’m updating this site in the open. Thanks for your patience while I
		remodel!
	</p>

	<p>
		Curious to watch the progress in detail? You can view and follow along
		with
		<a href="https://github.com/magratheaguide/magratheaguide.github.io"
			>this site’s code on GitHub</a
		>.
	</p>
</aside>

<figure>
	<blockquote
		cite="https://www.gov.uk/guidance/government-design-principles#make-things-open-it-makes-things-better"
	>
		<p><b>Make things open: it makes things better</b></p>

		<p>
			We should share what we’re doing whenever we can. With colleagues,
			with users, with the world. Share code, share designs, share ideas,
			share intentions, share failures. The more eyes there are on a
			service the better it gets—howlers are spotted, better alternatives
			are pointed out, the bar is raised.
		</p>

		<p>
			Much of what we’re doing is only possible because of open source
			code and the generosity of the web design community. We should pay
			that back.
		</p>
	</blockquote>
	<figcaption>
		<a
			href="https://www.gov.uk/guidance/government-design-principles#make-things-open-it-makes-things-better"
			>GOV.UK, “<cite>Government Design Principles</cite>”</a
		>
	</figcaption>
</figure>

<p>This is exactly why Magrathea exists.</p>

<hr />

<p>
	Play-by-post roleplaying sites are about writing. But creating and
	maintaining such a site requires a lot more than just writing. We have to
	think about technical infrastructure in the form of code and tooling, from
	site themes to Discord servers and everything in between. Our sites
	<em>can</em> operate without building up any of these, but the reality is
	that they don’t. A play-by-post roleplaying site without a good theme, for
	example, has much less chance of attracting and retaining members. What’s
	more, we <em>want</em> to make these spaces feel more homey than the out of
	the box default, to be places we can cozy up in and make our own. But we’re
	writers, first and foremost, and these are writing spaces. How do we develop
	good technical infrastructure and also keep it out of the way so we can
	focus on what we’re really here to do?
</p>

<p>
	Magrathea is meant to be one possible answer to that question. It’s a guide,
	a collection of resources, an offer of help. It’s an effort to make
	creating, maintaining, and participating in play-by-post roleplaying sites
	easier and more accessible. It’s my way to give back to our very unique and
	special community. And it’s free.
</p>

<h2>So what is it really?</h2>

<p>
	Magrathea is a free and open source guide to building accessible, inclusive,
	and usable play-by-post roleplaying sites.
</p>

<p>There’s a lot packed into that one sentence. Let’s break it down.</p>

<h3>Free and open source</h3>

<p>Open Source Guides sums it up beautifully:</p>

<figure>
	<blockquote>
		When a project is open source, that means
		<strong
			>anybody is free to use, study, modify, and distribute your project
			for any purpose</strong
		>. These permissions are enforced through an open source license.
	</blockquote>

	<figcaption>
		<a
			href="https://opensource.guide/starting-a-project/#what-does-open-source-mean"
			>Open Source Guides, “Starting an Open Source Project”</a
		>
	</figcaption>
</figure>

<p>
	Open source is sharing writ large. It means that not only do I
	<em>want</em> you to use and build upon the resources offered here, I’m
	encouraging you to please do so!
</p>

<p>
	There are some terms you need to follow, as described in each resources’
	license. That sounds scarier than it is; my favorite and default license is
	the <a href="https://choosealicense.com/licenses/mit/">MIT License</a> which
	clocks in at 172 words and basically boils down to “do what you will so long
	as you give credit by including this license.”
</p>

<p>
	(<a href="/questions-and-answers/#why-legalese-licenses"
		>Why bother with legalese then?</a
	>
	Check Questions and Answers.)
</p>

<p>
	That Magrathea resources are
	<a
		href="https://opensource.guide/starting-a-project/#does-open-source-mean-free-of-charge"
		>free is a byproduct of being open source</a
	>.
</p>

<h3>Accessible</h3>

<figure>
	<blockquote>
		The group of people who have the resources to build things for the
		internet are a small subset of the much larger group of people who
		consume the things we make. That access comes with a responsibility to
		make things that people across a spectrum of ability can use and, at the
		least, not cause harm in the process.
	</blockquote>

	<figcaption>
		<a
			href="https://source.opennews.org/articles/why-web-accessibility-matters-me/"
			>Aditi Bhandari, “Why web accessibility matters to me”</a
		>
	</figcaption>
</figure>

<p>
	It’s easy to design for ourselves. What we need and like is near at hand.
	Our own perspective is intimately familiar. But these spaces aren’t for any
	one of us alone. Their vibrancy and beauty is largely diminished without
	diversity, and true diversity isn’t possible without accessibility.
</p>

<p>
	Accessibility is the practice of both opening doors for as many people as
	possible and also of taking care that we don’t shut anybody out. It focuses
	on access for those with disabilities specifically and it benefits everyone.
	Anybody who wants to write should be able to create and participate in
	play-by-post roleplaying sites regardless of the ways they want or need to
	approach those sites. This covers “a wide range of disabilities, including
	visual, auditory, physical, speech, cognitive, language, learning, and
	neurological disabilities” (<a
		href="https://www.w3.org/TR/WCAG21/#background-on-wcag-2"
		>WCAG 2.1</a
	>). It also means considering that people use a broad variety of browsers,
	devices (which also range in age and size), languages (which may be written
	in different directions than English), and internet connections (which may
	be public or private, faster or slower, limited or expensive). These aspects
	can be temporary, permanent, or even situational.
</p>

<p>
	It’s a lot to keep in mind, but it’s important that we do. Accessibility is
	very attainable. In fact,
	<a href="https://developer.mozilla.org/en-US/docs/Learn/Accessibility/HTML"
		>HTML is accessible by design</a
	>
	when written correctly. That means that an inaccessible site is one where
	accessibility was actually <em>removed</em> or impeded in the course of
	development. When we build sites and especially when we write code, we take
	on a responsibility to wield that power and privilege wisely.
</p>

<figure>
	<blockquote>
		Technology doesn’t make accessibility hard. People who don’t give a damn
		do. Everything that makes accessibility difficult ties back to one root
		cause: People not giving a damn about others who are different.
	</blockquote>

	<figcaption>
		<a href="https://www.accessibility.uxdesign.cc/"
			>Sheri Byrne-Haber, Giving a Damn About Accessibility</a
		>
	</figcaption>
</figure>

<p>Further reading:</p>

<ul>
	<li>
		“<a href="https://www.w3.org/WAI/fundamentals/accessibility-intro/"
			>Introduction to Web Accessibility</a
		>” provides a helpful overview, and comes from the
		<a href="https://www.w3.org/WAI/">Web Accessibility Initiative</a>
		(WAI), an accessibility-focused subset of the web standards body, the
		<a href="https://www.w3.org/">World Wide Web Consortium</a> (W3C)
	</li>
	<li>
		“<a
			href="https://developer.mozilla.org/en-US/docs/Learn/Accessibility/What_is_accessibility"
			>What is accessibility?</a
		>” in the
		<a href="https://developer.mozilla.org"
			>Mozilla Developer Network (MDN) Web Docs</a
		>, a Wikipedia-like glossary and collection of guides focused on web
		development
	</li>
	<li>
		<i
			><a href="https://www.accessibility.uxdesign.cc/"
				>Giving a Damn About Accessibility</a
			></i
		>
		aptly bills itself as “a candid and practical handbook for designers”
	</li>
</ul>

<h3>Inclusive and Usable</h3>

<p>Accessible is the foundation, the minimum. We can do more.</p>

<p>An accessible space lets folks in the door.</p>

<p>An inclusive space helps them feel welcome within.</p>

<p>
	A usable space empowers and encourages people to engage with the core
	purpose of the space.
</p>

<p>
	For example, consider light and dark theme options. An accessible
	play-by-post roleplaying site might have both and default to one or the
	other based on your system settings, to respect the broader choice you’ve
	already made for your own needs and preferences. An inclusive site could go
	further by letting you optionally choose to override that default,
	understanding that your broader choices may need to be fine tuned so you’re
	comfortable here specifically. While they may improve your reading
	experience, light/dark theme controls themselves are not the main event:
	You’re on these sites to write and to read others’ writing. A usable site
	might balance these considerations by making the controls available in the
	same spot on every page of the site (so they’re always within arm’s reach),
	but designing them to be unobtrusive (so they’re out of the way and not
	distracting).
</p>

<p>
	The combination of accessibility, inclusivity, and usability is
	fundamentally centered on and prioritizes respect and empathy.
</p>

<p>
	It’s possible for a space to be accessible, fully compliant with the gold
	standard
	<a href="https://www.w3.org/WAI/standards-guidelines/"
		>Web Content Accessibility Guidelines</a
	>
	even, and yet not be inclusive or usable. The inverse is not true: A space
	can’t be inclusive or usable if it isn’t accessible.
</p>

<p>
	And for Magrathea, all three matter from top to bottom. Magrathea resources
	aren’t just meant to be used; they’re meant to be learned from and built
	upon. That means that they need to be accessible, inclusive, and usable for
	a site’s member base but also for the site’s developers and maintainers. For
	example, any code needs to be readable and organized, and accompanied by
	equally readable and organized documentation.
</p>

<p>
	This ethos even informs Magrathea’s processes. It’s
	<a href="/questions-and-answers/#why-github">why Magrathea is on GitHub</a>,
	<a
		href="https://gds.blog.gov.uk/2017/09/04/the-benefits-of-coding-in-the-open/"
		>why I work in the open</a
	>, and
	<a href="/questions-and-answers/#why-legalese-licenses"
		>why I choose to use open source licenses</a
	>. When it comes to making the play-by-post roleplaying community a more
	accessible, inclusive, and usable space, I believe that
	<em>what</em> Magrathea offers is ultimately less important than that
	Magrathea also shares the <em>how</em> and <em>why</em>.
</p>

<p>Further reading:</p>

<ul>
	<li>
		The
		<a href="https://inclusivedesignprinciples.org/"
			>Inclusive Design Principles</a
		>
		provide an overview of inclusivity and how to approach it, complete with
		examples
	</li>
	<li>
		“<a href="https://24ways.org/2016/what-the-heck-is-inclusive-design/"
			>What the heck is inclusive design?</a
		>” by Heydon Pickering unpacks the distinction between accessibility and
		inclusivity, and actually covers what I here define as usability as well
	</li>
</ul>

<h3>A guide</h3>

<p>This is a guide.</p>

<p>
	Yes, Magrathea contains a more traditional <a href="/guide">guide</a>. It
	also includes <a href="/tools">tools</a> and site
	<a href="/themes">themes</a>, but these, too, are part of the guide. They’re
	made to learn from and build upon, to take apart and examine and tinker
	with.
</p>

<p>I hope it helps.</p>
