---
title: Tags
---

<h1>{{ title }}</h1>

{% set search = search.values("tags") %}

{% if search | length > 0 %}
<ul>
	{% for tag in search | sort %}
	<li><a href="/tags/{{ tag | slugify }}">{{ tag }}</a></li>
	{% endfor %}
</ul>
{% else %}
<p>No tags found.</p>
{% endif %}
