---json
{
	"title": "Tags"
}
---

<h1>{{ title }}</h1>

<ul>
	{% for tag, content in collections %}
	<!---->
	{% if tag != "all" %} {% set tagUrl %}/tags/{{ tag | slugify }}{% endset %}
	<li><a href="{{ tagUrl }}">{{ tag }}</a></li>
	{% endif %}
	<!---->
	{% endfor %}
</ul>
