---
title: Tags
---

<h1>{{ title }}</h1>

<ul>
	{% for tag in (search.values("tags") | sort) %}
	<li><a href="/tagged/{{ tag | slugify }}">{{ tag }}</a></li>
	{% else %}
	<li>No tags found</li>
	{% endfor %}
</ul>
