---
navigation:
  order: 1
layout: layouts/collection.njk
searchTerm: "collection=themes"
title: Themes
---

<p>TODO: Intro blurb about themes.</p>

<aside>
	If you come from the Jcink subset of the community, you’re probably more
	familiar with the term “skin.” Though they mean the same thing, I use
	“theme” here instead because it’s the more broadly used term in the overall
	tech industry, and because “skin” quickly becomes inappropriate and
	unacceptable in conversation (such as when discussing, comparing, or stating
	preferences for “light skins” versus “dark skins” or as used in the phrase
	“skinning a site,” yikes). The terms we use come with meaning and context.
	Sensitivity is important, and I want Magrathea to reflect that.
</aside>
