---json
{
	"eleventyNavigation": {
		"key": "Tools",
		"order": 2
	},
	"layout": "layouts/base.html"
}
---

<h1>{{ eleventyNavigation.key }}</h1>

<p>
	Scripts, snippets, and other tools to help make developing and running a
	play-by-post roleplaying game simpler. And they're all named after fictional
	planets.
</p>

<p>
	Note that this is just a directory; the tools themselves live each in their
	own repository on
	<a href="{{ social.github }}">GitHub</a>.
</p>

{% include "partials/learn-github.html" %}

<!-- list tools -->
{% for tool in collections.tools | sort(false, false, "data.title") %}
<article>
	<hgroup>
		<h2>{{ tool.data.title }}</h2>

		{% if tool.data.subtitle %}
		<p>{{ tool.data.subtitle }}</p>
		{% endif %}
	</hgroup>

	{{ tool.templateContent | safe }}

	<ul>
		{% for linkText, linkUrl in tool.data.links %}
		<li><a href="{{ linkUrl }}">{{ linkText }}</a></li>
		{% endfor %}
	</ul>
</article>
{% endfor %}
