---
navigation:
  order: 2
layout: layouts/collection.njk
searchTerm: "collection=tools"
title: Tools
---

<p>
	Scripts, snippets, and other tools to help make it simpler to develop and
	run a play-by-post roleplaying game. All named after fictional planets.
</p>

<p>
	Note that this is just a directory; the tools themselves live each in their
	own repository on
	<a href="{{ meta.externalUrls.github }}">GitHub</a>.
</p>

{% include "partials/learn-github.html" %}
